:host {
    display: block;
    margin-bottom: 68px;
}

.menu-section-header {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    padding-bottom: 5px;
    margin-bottom: 18px;
    border-bottom: 2px solid white
}