<aside>
    <div class="aside-header">
        <div class="logo">
            <img src="assets/logo.svg" alt="Logotipo do sistema Glass">
        </div>
    </div>

    <div class="aside-navigation">
        <nav>
            <div class="item">
                <div class="item-icon">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 6.77778H1V10.5556H19V6.77778H14.5H5.5Z" fill="white"/>
                        <path d="M5.5 6.77778H1V10.5556M5.5 6.77778L10 2L14.5 6.77778M5.5 6.77778H14.5M14.5 6.77778H19V10.5556M1 10.5556V20H19V10.5556M1 10.5556H19" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="item-name">AGENDA</div>
            </div>

           
        </nav>
    </div>

    <footer class="aside-footer">
        <div class="profile-info">
            <small class="logged-as">Logado como:</small>
            <p class="profile-name">Rodrigo Santos Oliveira</p>
        </div>
        
        <button class="logout-button"  routerLink="/" label="Sair da sessão" title="Sair da sessão">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.36 6.64014C19.6184 7.89893 20.4753 9.50258 20.8223 11.2483C21.1693 12.9941 20.9909 14.8035 20.3096 16.4479C19.6284 18.0923 18.4748 19.4977 16.9948 20.4865C15.5148 21.4753 13.7749 22.0031 11.995 22.0031C10.2151 22.0031 8.47515 21.4753 6.99517 20.4865C5.51519 19.4977 4.36164 18.0923 3.68036 16.4479C2.99909 14.8035 2.82069 12.9941 3.16772 11.2483C3.51475 9.50258 4.37162 7.89893 5.63 6.64014" stroke="#FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 2V12" stroke="#FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </footer>
</aside>