<div class="backdrop" 
    *ngIf="active" 
    (click)="onClickBackdrop()" 
    [ngClass]="{ 'open': active, 'opening': state === 1, 'closing': state === 3 }" 
    #backdrop >
    <div class="modal" (click)="onClickModal($event)">
        <div class="modal-header">
            <span class="title"> {{ renderedTitle }} </span>
            <button class="close-modal" (click)="close()">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L7.5 7.5M13 13L7.5 7.5M7.5 7.5L13 2L2 13" stroke="#282828" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
            </button>
        </div>
        
        <div class="modal-body">
            <ng-container *ngTemplateOutlet="content; context: { $implicit: data,  data: data }"></ng-container>
        </div>
    </div>
</div>