@use '../../../../../../scss/global/functions.scss' as *;
@use '../../../../../../scss/global/variables.scss' as *;

:host {
    position: relative;
    display: table-cell;
    border: 1px solid var(--light-grey);
    width: 14.2857%;
    height: auto;
}

.calendar-cell {
    position: absolute;
    top: 0; left: 0;

    width: 100%;
    height: 100%;

    color: var(--light-grey);
    user-select: none;

    &:not(.other-day-month) {
        cursor: pointer;
    }

    &.other-day-month {
        @include vendors(filter, grayscale(0.85));
        background-color: rgba(0, 0, 0, 0.04);
    }

    &.active {
        outline: 2px solid var(--blue);
        border-color: var(--blue);
        filter: brightness(1.03);
        z-index: $indexLvl1;

        .day {
            color: var(--blue);
            font-weight: 600;
        }
    }


    &.full .day-state-icon {
        background-color: var(--red);
    }

    .day-state-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background-color: var(--green);
    }

    .day {
        position: absolute;
        bottom: 1px;
        right: 4px;

        font-size: 1.4rem;
        font-weight: 300;
        color: var(--light-grey);
    }

    &.holiday {
        background-color: var(--yellow);
    }

    &.blocked {
        background-color: var(--light-red);
    }
}