<div class="container flex flex-column align-items-center">
    <div class="logo">
        <img src="assets/logo.svg" alt="Logotipo do Glass">
    </div>
    
    <p class="greetings"> Boas vindas, tudo bem? </p>

    <div class="form-wrapper">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input class="control" formControlName="cpf" type="text" placeholder="CPF" aria-label="Login" aria-placeholder="Login" (change)="loginError = false"/>
                <small class="form-error" *ngIf="controls.cpf.touched && !controls.cpf.value">É necessário preencher esse campo</small>
                <small class="form-error" 
                    *ngIf="controls.cpf.touched && controls.cpf.errors?.maxlength || controls.cpf.errors?.minlength || controls.cpf.errors?.pattern"
                >
                    O cpf deve possuir 11 carácteres e apenas números 
                </small>
            </div>

            <div class="form-group">
                <input class="control" formControlName="password" type="password" placeholder="SENHA" aria-label="Senha" aria-placeholder="Senha" (change)="loginError = false"/>
                <small class="form-error" *ngIf="controls.password.touched && !controls.password.value">É necessário preencher esse campo</small>
            </div>

            <p class="form-result red" *ngIf="loginError">Login ou senha incorreto(s)</p>

            <button type="submit" class="btn" aria-label="ENTRAR" [disabled]="form.invalid" [ngClass]="{'white': form.invalid}" >
                <span class="btn-text">ENTRAR</span>
            </button>  
        </form>
    </div>
</div>