<div class="container flex flex-column align-items-center">
    <div class="logo">
        <img src="assets/logo.svg" alt="Logotipo do Glass">
    </div>
    
    <p class="greetings"> Boas vindas, tudo bem? </p>

    <div class="form-wrapper">
        <form action="">
            <div class="form-group">
                <input class="control" name="username" type="text" placeholder="LOGIN" aria-label="Login" aria-placeholder="Login"/>
            </div>

            <div class="form-group">
                <input class="control" name="password" type="password" placeholder="SENHA" aria-label="Senha" aria-placeholder="Senha"/>
            </div>

            <button routerLink="/app" type="button" class="btn" aria-label="ENTRAR">
                <span class="btn-text">ENTRAR</span>
            </button>
        </form>
    </div>
</div>