<aside class="action-menu">
    <header class="header">
        <p class="selected-cell-date"> 23-05-2002 </p>
        <p class="blocked-cell-reason"> NÃO VAI ROLAR</p>
    </header>
    <div class="container">
        <app-menu-section title="Horários do profissional:">
            <button class="btn btn-green">BLOQUEAR DIA PARA O PROFISSIONAL</button>
        </app-menu-section>

        <app-menu-section title="Ações gerais:">
            <button class="btn red">BLOQUEAR DIA PARA TODOS OS PROFISSIONAIS</button>
        </app-menu-section>
    </div>
</aside>
