<aside class="action-menu">
    <div *ngIf="appointments !== undefined">
        <header class="header">
            <p class="selected-cell-date"> {{ dateString }} </p>
           <!--  <p class="blocked-cell-reason"> NÃO VAI ROLAR</p> -->
        </header>
        <div class="container">
            <app-menu-section section-title="Horários do profissional:">
                <app-activity-list [appointments]="activityListInput"></app-activity-list>
                <button class="btn red">BLOQUEAR DIA PARA O PROFISSIONAL</button>
            </app-menu-section>
    
            <app-menu-section section-title="Ações gerais:">
                <button class="btn red">BLOQUEAR DIA PARA TODOS OS PROFISSIONAIS</button>
            </app-menu-section>
        </div>
    </div>
   
</aside>
