<div class="admin-card">
    <strong class="admin-card__title">Título</strong>
    <div class="admin-card__content">
        <div class="admin-card__list-container">
            <ul class="admin-card__list">
                <li class="admin-card__list-item">
                    <p class="list-item__title">Angelo Soroldoni da Silva Sales</p>
                    <small class="list-item__subtitle">Clínico geral</small>
                </li>
                <li class="admin-card__list-item">
                    <p class="list-item__title">Minha cara quando</p>
                    <small class="list-item__subtitle bold">Administrador</small>
                </li>
            </ul>
            <button type="button" class="btn admin-card__list-button">
                +
            </button>
        </div>
        <div class="admin-card__info">
            <div class="info__container">
                <strong class="info__name">ROZBÔ</strong>
                <p class="info__id"><b>Número:</b> 1</p>
                <p class="info__type"><b>Tipo:</b> Professional/Admin</p>
                <p class="info__email"><b>E-Mail:</b> rozbofazomelhorarroz@gmail.com</p>
            </div>
            <button type="button" class="btn red">Apagar</button>
            <button type="button" class="btn">Editar</button>
        </div>
    </div>
</div>
