<div class="admin-card">
    <strong class="admin-card__title">Título</strong>
    <div class="admin-card__content">
        <div class="admin-card__list-container">
            <ul class="admin-card__list">
                <li class="admin-card__list-item">Sala dos advogatos</li>
                <li class="admin-card__list-item">Sala dos advocatos</li>
                <li class="admin-card__list-item">Sala dos advosapos</li>
                <li class="admin-card__list-item">Sala dos advovapos</li>
            </ul>
            <button type="button" class="btn admin-card__list-button">
                +
            </button>
        </div>
        <div class="admin-card__info">
            <div class="info__container">
                <strong class="info__title">Sala dos advogatos</strong>
                <small class="info__subtitle">número 1</small>
            </div>

            <button type="button" class="btn red">Apagar</button>
            <button type="button" class="btn">Editar</button>
        </div>
    </div>
</div>
