<div class="admin-card">
    <strong class="admin-card__title">Salas</strong>
    <div class="admin-card__content">
        <div class="admin-card__list-container">
            <ul class="admin-card__list">
                <li *ngFor="let room of rooms" (click)="onClickOnItem($event, room)" class="admin-card__list-item">{{ room.name }}</li>
            </ul>
            <button type="button" class="btn admin-card__list-button" (click)="sendToCreateRoom()">
                +
            </button>
        </div>
        <div class="admin-card__info" *ngIf="selectedRoom">
            <div class="info__container">
                <strong class="info__title">{{ selectedRoom.name }}</strong>
                <small class="info__subtitle"><b>Número: </b>{{ selectedRoom.id }}</small>
            </div>

            <button type="button" class="btn red" (click)="sendToDeleteRoom()">Apagar</button>
            <button type="button" class="btn" (click)="sendToEditRoom()">Editar</button>
        </div>
    </div>
</div>
