:root {
    // Cores
    --white: #FAFAFA;
    --dark-white: #e1e1e1;
    --light-blue: #6068DE;
    --blue: #5A62D1;
    --dark-blue: #3F3791;
    --darker-blue: #232652;
    --grey: #646464;
    --light-grey: #969696;
    --black: #282828;
    --yellow: #FFF3E1;

    --red: #E34553;
    --light-red: #FFE5EB;
    --green: #60EA97;
    --btn-green: #21c261;

    // Gradientes
    --gray-white: 38.42deg, #D9D9D9 -8.89%, #E6E6E6 17.41%, #FAFAFA 69.28%;
    --dark-blue-light-blue: 64.63deg, #3D32AE 14.24%, #4E4CC5 48.65%, #6068DE 86.14%;
    --dark-blue-light-blue-vert: 38.42deg, #3D32AE -8.89%, #4E4CC5 28.52%, #6068DE 69.28%;
    --darker-blue-light-blue: 88.14deg, #3F3791 15.5%, #5456C1 46.66%, #6068DE 79.16%;
}

$indexLvl-1: -1;
$indexLvl0: 0;
$indexLvl1: 1;
$indexLvl2: 2;
$indexLvl3: 3;
$indexLvl4: 4;
$indexLvl5: 5;
$indexLvl6: 6;
$indexLvl7: 7;
$indexLvl8: 8;
$indexLvl9: 9;