<div class="admin-wrapper">
    <div class="admin-content">
        <h1 class="admin-title">Área administrativa</h1>
        <h3 class="admin-subtitle">Clínica X</h3>

        <div class="admin-card-container">
            <app-admin-card-room></app-admin-card-room>
            <app-admin-card-people></app-admin-card-people>
        </div>
    </div>
    <app-section-menu></app-section-menu>
</div>

<app-modal id="room-creation" [content-template]="roomCreationForm" modal-title="">
    <ng-template #roomCreationForm let-data>
        <app-room-creation-form [data]="data"></app-room-creation-form>
    </ng-template>
</app-modal>

<app-modal id="operation-success" [content-template]="operationSuccessContent" modal-title="Sucesso!">
    <ng-template #operationSuccessContent let-data>
        <app-success-modal [data]="data"></app-success-modal>
    </ng-template>
</app-modal>

<app-modal id="confirmation" [content-template]="confirmationModalContent" modal-title="Confirmar ação">
    <ng-template #confirmationModalContent let-data>
        <app-confirmation-modal [data]="data"></app-confirmation-modal>
    </ng-template>
</app-modal>
<!-- 
<app-modal id="operation-success" [content-template]="operationSuccessContent" modal-title="Sucesso!">
    <ng-template #operationSuccessContent let-data>
        <app-success-modal [data]="data"></app-success-modal>
    </ng-template>
</app-modal>
 -->
