<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group multi-input infos">
        <div>
            <label for="">Profissional:</label>
            <div class="fake-input">{{ professionalName }}</div>
        </div>

        <div>
            <label for="">Data:</label>
            <div class="fake-input">{{ dateString }}</div>
        </div>
    </div>
    
    <div class="form-group multi-input">
        <div>
            <label for="room-id">Sala:</label>
            <select name="" id="room-id" formControlName="roomId">
                <option value=""> ---------------------- </option>
                <option value="1">Sala dos advogatos</option>
            </select>

            <small class="form-error" *ngIf="controls.roomId.touched && controls.roomId.invalid">É necessário preencher esse campo</small>
        </div>
        
        <div>
            <label for="patient">Paciente:</label>
            <input type="text" value="" id="patient" formControlName="patient"/>

            <small class="form-error" *ngIf="controls.patient.touched && !controls.patient.value">É necessário preencher esse campo</small>
            <small class="form-error" *ngIf="controls.patient.touched && controls.patient.errors?.pattern">Há caracteres inválidos</small>
        </div>
    </div>

    <div class="form-group">
        <label for="appointment-type">Tipo da operação:</label>
        <input type="text" value="" id="appointment-type" formControlName="appointmentType"/>
    </div>

    <div class="form-group">
        <button class="btn submit-btn" type="submit" [ngClass]="{ 'white': form.invalid }" [disabled]="form.invalid">Enviar</button>
    </div>

</form>