<aside class="admin-aside dark-blue->light-blue-vert">
    <app-menu-section section-title="Seções">
        <ul class="admin-aside__items">
            <li class="admin-aside__item">
                <svg _ngcontent-mvx-c54="" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-mvx-c54="" d="M5.5 6.77778H1V10.5556H19V6.77778H14.5H5.5Z" fill="white"></path><path _ngcontent-mvx-c54="" d="M5.5 6.77778H1V10.5556M5.5 6.77778L10 2L14.5 6.77778M5.5 6.77778H14.5M14.5 6.77778H19V10.5556M1 10.5556V20H19V10.5556M1 10.5556H19" stroke="white" stroke-width="2" stroke-linejoin="round"></path></svg>
                Salas
            </li>
            <li class="admin-aside__item">
                <svg _ngcontent-mvx-c54="" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-mvx-c54="" d="M5.5 6.77778H1V10.5556H19V6.77778H14.5H5.5Z" fill="white"></path><path _ngcontent-mvx-c54="" d="M5.5 6.77778H1V10.5556M5.5 6.77778L10 2L14.5 6.77778M5.5 6.77778H14.5M14.5 6.77778H19V10.5556M1 10.5556V20H19V10.5556M1 10.5556H19" stroke="white" stroke-width="2" stroke-linejoin="round"></path></svg>
                Pessoas
            </li>
        </ul>
    </app-menu-section>
</aside>
