<p class="form-description">
    Insira as informações abaixo para abrir um dia de trabalho excepcional
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex">
        <div class="form-group form-group__big">
            <div class="time-group">
                <label for="start-time">Das</label>
                <input id="start-time" type="time" formControlName="startTime" />
                <small class="form-error" *ngIf="controls.startTime.dirty && !controls.startTime.value">Esse campo não pode ficar vazio</small>
            </div>
        
            <div class="time-group ">
                <label for="end-time">Às</label>
                <input id="end-time" type="time" formControlName="endTime" />
                <small class="form-error" *ngIf="controls.endTime.dirty && !controls.endTime.value">Esse campo não pode ficar vazio</small>
                <small class="form-error" *ngIf="controls.endTime.dirty && controls.endTime.errors?.invalidDate">O tempo final não pode ser menor que o inicial</small>
            </div>
        </div>
        
    
        <div class="form-group form-group__small form-group__last">
            <label for="frequency">Tempo das consultas</label>
            <select name="frequency" id="frequency" formControlName="frequency">
                <option value="" selected>--- Selecione uma opção ---</option>
                <option *ngFor="let option of selectOptions" [value]="option.value">{{ option.text }}</option>
            </select>
            <small class="form-error" *ngIf="controls.frequency.dirty && !controls.frequency.value">Esse campo não pode ficar vazio</small>
            <small class="form-error" *ngIf="controls.frequency.dirty && controls.frequency.errors?.invalidFrequency">O intervalo não pode ser maior que o tempo total de trabalho</small>
        </div>
    </div>
    


    <div class="form-group">
        <button class="btn submit-btn" type="submit" [ngClass]="{ 'white': form.invalid }" [disabled]="form.invalid">Enviar</button>
    </div>

</form> 